@media only screen and (min-width: 768px) {
  .app-body-inner {
    max-width: 900px;
    margin: auto;
  }
}

.app-body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 16px;
  color: white;
  padding: 15px;
  text-align: justify;
}
.header {
  margin-bottom: 16px;
}
.sub-header {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 0;
}
.text {
  margin: 0;
  padding: 0;
}
.app-link {
  color: #61dafb;
}
.app-link:hover {
  color: #4196ad;
}
.nav-bar ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  width: 100%;
  background-color: #fff;
}
.nav-bar ul a {
  text-decoration: none;
  color: #282c34;
  display: block;
  padding: 15px;
  margin: 0 5px;
}
.nav-bar ul .active,
.nav-bar ul a:hover {
  background: #fff;
  color: #222;
}
